.root {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 9pt;
    -fx-text-fill: #323334;
    -fx-font-weight: bold;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.VBox-style {
    -fx-background-color: #5d9451;
}

.label-header {
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
}

.label-title {
    -fx-font-size: 10pt;
    -fx-fill: #5d9451;
    -fx-text-fill: #5d9451;
    -fx-font-weight: bold;
    -fx-font-family: helvetica;
}

/* Combo Box */
.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-color: #303030;
    -fx-border-width: 1px;
}

.combo-box .cell {
    -fx-font-size: 9pt;
    -fx-text-fill: black;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-text-fill: black;
}

/* Button */
.button {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-border-color: #303030;
    -fx-border-width: 1px;
}

.button-menu {
    -fx-background-color: #5d9451;
    -fx-background-radius: 0;
    -fx-border-width: 0px;
    -fx-font-size: 9pt;
    -fx-text-fill: white;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-radius: 0;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1.01;
}

.button-yellow {
    -fx-background-color: #5d9451;
    -fx-background-radius: 0;
    -fx-border-width: 0px;
    -fx-font-size: 9pt;
    -fx-text-fill: #dcdfa6;
    -fx-font-family: helvetica;
    -fx-font-weight: bold;
}

.button-red {
    -fx-background-color: #6e6f70;
    -fx-text-fill: #ffffff;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
}

.button-red:hover {
    -fx-background-color: #6e6f70;
    -fx-background-radius: 0;
    -fx-text-fill: #ffffff;
    -fx-scale-x: 1.01;
    -fx-scale-y: 1.01;
    -fx-scale-z: 1.01;
}

/* Table */
.table-view {
    -fx-border-color: black;
    -fx-font-family: inherit;
    -fx-background-color: ffffff;
    -fx-alignment: CENTER;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #5d9451;
    -fx-border-color: derive(gray, 80%);
    -fx-fill: #ffffff;
}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(gray, 90%);
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-insets: 0, 0, 0;
    -fx-background-color: derive(black, 90%);
    -fx-background-radius: 0em;
}

.table-view .scroll-bar:horizontal:hover .track,
.table-view .scroll-bar:vertical:hover .track,
.table-view .scroll-bar:horizontal:pressed .track,
.table-view .scroll-bar:vertical:pressed .track {
    -fx-background-color: derive(white, 90%);
    -fx-opacity: 0.2;
    -fx-background-radius: 0em;
}

.table-view .scroll-bar .thumb:hover,
.table-view .scroll-bar .thumb:pressed {
    -fx-background-color: derive(black, 50%);
}

.table-view .increment-button:hover,
.table-view .decrement-button:hover {
    -fx-background-color: derive(gray, 100%);
    -fx-border-color: derive(gray, 80%);
    -fx-padding: 10px;
}

.table-row-cell {
    -fx-background-color: #ffffff;
    -fx-table-cell-border-color: derive(gray, 80%);
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #d3ffdb;
    -fx-table-cell-border-color: derive(gray, 80%);
    -fx-alignment: CENTER;
}

.table-row-cell:selected .text {
    -fx-fill: black;
}

/* Text-field */
.text-field {
    -fx-background-radius: 0;
    -fx-background-color: #d8dfea;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0.2;
}

/* List view */
.list-view {
    -fx-background-insets: 0;
}

.list-view .list-cell:even {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-view .list-cell:odd {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Chart */
.chart {
    -fx-padding: 0px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis {
    -fx-font-family: "Helvetica Neue";
    -fx-minor-tick-length: 10;
}

.default-color0.chart-bar {
    -fx-bar-fill: #f9d900;
}

.default-color0.chart-series-line {
    -fx-stroke: #f9d900;
}