<!DOCTYPE hibernate-configuration SYSTEM "hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/Inventory</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">eIhuJk-dq2Jd</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="main.java.entities.Stock"/>
        <mapping class="main.java.entities.Item"/>
        <mapping class="main.java.entities.Order"/>
        <mapping class="main.java.entities.Catalog"/>
        <mapping class="main.java.entities.Vendor"/>
    </session-factory>
</hibernate-configuration>